<mat-toolbar color="primary" class="large-toolbar">
    <span class="me-auto">
      <a [routerLink]="['/']" class="text-black" style="text-decoration: none;">
        Authors Database Interface
      </a>
    </span>
    <button mat-button color="accent" [routerLink]="['/author']">
      Authors
    </button>
    <button mat-button color="accent" [routerLink]="['/title']">
      Books
    </button>
  </mat-toolbar>
  
  <div class="content">
    <h1>Welcome to the Authors Database API</h1>
    <p>Use the navigation bar to explore authors and books.</p>
  </div>
  
  <router-outlet></router-outlet>